#one{
    background-color: red ;
    height: 100px;
    width:100px;
    border-radius: 50%;
}
#two{
    background-color: yellow;
    height: 100px;
    width:100px;
    border-radius: 50%;
}
#three{
    background-color: green;
    height: 100px;
    width:100px;
    border-radius: 50%;
}
*{
    padding:0;
    margin: 0;
    color:white;
}
#navbar{
    height:60px;
    background-color: #0f1111;
}
button{
     background-color: #f08804
}
#logo{
    color:#f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
